# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.spec

# Environments
.env
.venv
venv/
ENV/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Temporary files
*.log
*.tmp